* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: rgb(49, 49, 49);
    color: white;
}

h2 {
    color: white;
    left: 15px;
    position: absolute;
    background-color: transparent;
}

.barraNavegaçao {
    height: 8%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    background-color: black;
}

.barraNavegaçao input {
    border: none;
    background-color: rgb(87, 87, 87);
    width: 420px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}


.textoNovaTarefa::placeholder {
    color: white;
}


.adicionarTarefa {
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    margin-left: 5px;
}

.adicionarTarefa:hover {
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    color: white;
    border: 1px solid white;
}

.adicionarTarefa:active {
    transform: translateY(1px);
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}

.main div {
    margin: 10px;
    border: 1px solid white;
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    color: white;
    position: relative;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-20px);
    animation: show 0.5s ease-in-out forwards;
}

@keyframes show {
    to {
        opacity: 1;
        transform: translateX(0);

    }
}

.main textarea {
    left: 6px;
    top: 5px;
    background-color: transparent;
    border: none;
    width: 220px;
    height: 210px;
    flex-wrap: wrap;
    position: absolute;
    resize: none;
    outline: none;
    padding: 1px;
    color: white;
}

.botao_excluir_tarefa {
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
}

.imagem_excluir:hover {
    cursor: pointer;
    background-color: rgb(122, 122, 122);
}

.imagem_excluir:active {
    transform: translateY(1px);
}

.botao_editar_tarefa {
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: transparent;
}

.imagem_editar,
.imagem_excluir {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}



.imagem_editar:hover {
    cursor: pointer;
    background-color: rgb(122, 122, 122);
}



.imagem_editar:active {
    transform: translateY(1px);
}

.modoLight {
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 50px;
    position: absolute;
    background-color: transparent;
    
}

#modoImg {
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.modoLight:active {
    transform: translateY(1px);
}

.modoLight:hover {
    animation: lightAnimated 1s ease forwards;
}

@keyframes lightAnimated {
    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 1285.60px) {
    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
}

@media (max-width: 884px) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}

@media (max-width: 656px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}


@media (max-width: 811.20px) {
    h2 {
        width: 10px;
        justify-content: center;
    }
}

.modal {
    width: 400px;
    height: 30vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    z-index: 999;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    }

.modal p {
    font-size: 15px;
}

.modal input {
    border: none;
    background-color: black;
    width: 250px;
    height: 20px;
    font-weight: bold;
    color: white;  
    margin-top: 10px;
    text-align: center;
}

.modal input::placeholder{
    color: white;
}

.modal button{
    padding: 5px 5px;
    width: 130px;
    background-color: rgb(245, 241, 12);
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;   
}

.modal button:active{
    transform: translateY(1px);
}

.modal button:hover{
    background-color: rgb(255, 255, 0);
}