*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: rgb(49, 49, 49);
    color: white;
}

.titulo{
    color: white;
    left: 15px;
    position: absolute;
    background-color: transparent;
}

.barraNavegaçao{
    height: 8;
    border-bottom: 2px solid white;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textoNovaTarefa{
    border: none;
    background-color: rgb(87, 87, 87);
    width: 400px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.textoNovaTarefa::placeholder{
    color: white;
}


.adicionarTarefa{
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    margin-left: 5px;
}

.adicionarTarefa:hover{
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    color: white;
    border: 1px solid white;
}

.adicionarTarefa:active{
    transform: translateY(1px);
}

.main{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tarefas{
    margin: 10px;
    padding: 2rem;
    border: 1px solid white;
    min-width: 165px;
    min-height: 200px;
    display: inline;
    color: white;
    position: relative;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-20px);
    animation: show 0.5s ease-in-out forwards;
}

@keyframes show{
    to{
        opacity: 1;
        transform: translateX(0);

    }
}

.tarefas textarea{
    left: 6px;
    top: 5px;
    background-color: transparent;
    border: none;
    width: 220px;
    height: 210px;   
    flex-wrap: wrap;
    position: absolute;
    resize: none;
    outline: none;
    padding: 1px;
    color: white;
}

.botao_excluir_tarefa{
    width: 20px;
    height: 20px;
    border:none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
}

.imagem_excluir:hover{
    cursor: pointer;
    background-color: rgb(122, 122, 122);
}

.imagem_excluir:active{
    transform: translateY(1px);
}

.botao_editar_tarefa{
    width: 20px;
    height: 20px;
    border:none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: transparent;
}

.imagem_editar, .imagem_excluir {
    width: 20px;
    height: 20px;  
    border-radius: 3px; 
}



.imagem_editar:hover{
    cursor: pointer;
    background-color: rgb(122, 122, 122);
}



.imagem_editar:active{
    transform: translateY(1px);
}

.modoLight{
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 50px;
    position: absolute;
    background-color: transparent;
}

#modoImg{
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.modoLight:active{
    transform: translateY(1px);
}

#modoImg.animarsol{
    animation: lightOn 0.5s ease forwards ;
}

    #modoImg.animarlua{
        animation: lightOff 0.5s ease forwards ;
    }

@keyframes lightOn {
    to{
        transform:rotate3d(0,0,1, 180deg);
    }
}

@keyframes lightOff {
    to{
        transform:rotate3d(0,0,1, 360deg);
    }
}
