* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body {
    background-color: rgb(49, 49, 49);
    color: #ffffff;
    transition: 0.3s;
    width: 100%;
    height: 100%;
}


header {
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0.5px 0.5px 10px 0.5px black;
    position: relative;
}

.navigator {
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0.5px 0.5px 10px 0.5px black;
    position: fixed;
    z-index: 999;
}

.titulo {
    left: 8px;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.textoNovaTarefa {
    border: none;
    background-color: rgb(87, 87, 87);
    width: 420px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 45px;
}

.textoNovaTarefa::placeholder {
    color: #ffffff;
}


.adicionarTarefa {
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    margin-left: 5px;
}

.adicionarTarefa:hover {
    cursor: pointer;
    background-color: #313131;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.adicionarTarefa:active {
    transform: translateY(1px);
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: flex-start;
    width: 100%;
}

.main div {
    margin: 10px;
    border: 2px solid #ffffff;
    width: 15.3%;
    height: 8rem;
    border-radius: 10px;

    opacity: 0;
    transform: translateX(-20px);
    animation: show 0.5s ease-in-out forwards;
}

@keyframes show {
    to {
        opacity: 1;
        transform: translateX(0);

    }
}

.main textarea {
    margin: 6px;
    background-color: transparent;
    border: none;
    width: 95%;
    height: 5.5rem;
    position: absolute;
    resize: none;
    outline: none;
    padding: 1px;
    color: #ffffff;
}


.botao_excluir_tarefa {
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
}

#imagem_excluir:hover {
    cursor: pointer;
    color: #ff0000;
}

#imagem_excluir:active {
    transform: translateY(1px);
}

.botao_editar_tarefa {
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: transparent;
}

#imagem_editar {
    color: #ffffff;
}

#imagem_excluir {
    color: #ffffff;
}


#imagem_editar:hover {
    cursor: pointer;
    color: green;
}



#imagem_editar:active {
    transform: translateY(1px);
}

.label {
    cursor: pointer;
    right: 50px;
    position: absolute;
}

.label .fa-moon,
.fa-sun {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ffff00;
}

.label .fa-sun {
    display: none;
}

.lightMode {
    display: none;
}

.label:hover {
    animation: lightAnimated 1s ease forwards;
}

@keyframes lightAnimated {
    to {
        transform: rotate(360deg);
    }
}

.modalOpen {
    width: 30rem;
    height: 14rem;
    border: 2px solid #ffffff;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}

.modalOpen span {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 15px;
}

.modalOpen p {
    font-size: 15px;
}

.modalOpen input {
    border: 1px solid #ffffff;
    width: 250px;
    height: 20px;
    color: #000000;
    margin-top: 20px;
    padding: 1rem;
    font: 1rem;
}

.modalOpen input::placeholder {
    color: #000000;
}

.modalOpen button {
    padding: 5px 5px;
    width: 10rem;
    background-color: #f5f10c;
    color: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.modalOpen button:active {
    transform: translateY(1px);
}

.modalOpen button:hover {
    background-color: #ffff00;
}

/* LIGHT MODE */

.light {
    background-color: #c1c0c0;
    color: #000000;
}

.light header {
    background-color: #bbbaba;
    color: #000000;
}

.light body {
    background-color: #c1c0c0;
}

.light .main {
    background-color: #c1c0c0;
}

.light .textoNovaTarefa {
    background-color: #a4a2a2;
    color: #000000;
}

.light .textoNovaTarefa::placeholder {
    color: #000000;
}

.light .adicionarTarefa {
    background-color: #5959df;
    color: #ffffff;
}

.light .main div {
    border: 2px solid #000000;
    color: #000000;
}

.light .main textarea {
    color: #000000;
}

.light #imagem_editar {
    color: #000000;
}

.light #imagem_excluir {
    color: #000000;
}

.light .fa-moon {
    display: none;
}

.light .fa-sun {
    display: flex;
}

.light #imagem_editar:hover {

    color: #008000;
}

.light #imagem_excluir:hover {
    color: #ff0000;
}

.light .modalOpen{
    border: 2px solid #000;
}

/* RESPONSIVIDADE */



@media (max-width: 490px){
    .modalOpen {
        width: 20rem;
        height: 12rem;
    }

    .modalOpen span {
        font-size: 1.5rem;
    }

    .modalOpen p {
        font-size: 0.8rem;
    }

    .modalOpen input {
        margin-top: 15px;
    }

    .modalOpen button {
        margin-top: 20px;
    }
}